<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @display_question.title  if @display_question.exists?%>
</p>

<% if @display_question.exists? %>
  <%= render 'answer_form', question: @display_question %>
<% end %>
