<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @display_question.title  if @display_question.present? %>
</p>

<% if @display_question.present? %>
  <%= render 'answer_form', question: @display_question %>
<% else %>
  <%= render "all_questions_answered" %>
//Add alternative if all questions answered here

<% end %>
