<p id="notice"><%= notice %></p>

<h1>Quizzes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Difficulty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= turbo_stream_from :questions %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz', new_quiz_path %>
