<%= turbo_stream_from :quizzes %>

<div class="split left">
      <div class="centered">
        <%= turbo_frame_tag :quiz_form do %>
          <%= render 'quizzes/form', quiz: @quiz %>
        <% end %>
      </div>
</div>
