Quizz!
<hr>
Quiz Name: <%= @quiz.name %>
<hr>
Here are all the questions that will be on the quiz:

<% @quiz.questions.each do |question| %>
  <h2>Question:</h2>
  <%= question.title %>
  <br>
  Answer:<%= question.answer %>
  <hr>
<% end %>