<p id="notice"><%= notice %></p>

<p>
  <strong>
    <%= @display_question.title  if @display_question.present? %>
  </strong>
</p>

<% if @display_question.present? %>
  <%= render 'answer_form', question: @display_question %>
<% else %>
  <%= render "all_questions_answered" %>
<% end %>
