<div class="centered">
    <div class="main-title">
        <h1>Welcome to Quizlet</h1>
    </div>
    <br>
    <div class="main-body">
        <%= link_to "Take a Quiz", quizzes_path, class: "button-link" %> 
    </div>
</div>
