<div class="centered">
    <div class="main-title">
        <h1>Quizlet</h1>
        <h2>A Place for Quizzes</h2>
    </div>
    <br>
    <div class="main-body">
        <%= link_to "Take a Quiz", quizzes_path, class: "button-link" %> 
    </div>

    <div>
        <%= link_to "Make a Quiz", new_quiz_path, class: "button-link" %>
    </div>
</div>
