<div class="center-section">
    <div class="main-title">
        <h1>Welcome to Quizlet</h1>
    </div>
    <br>
    <div class="main-body">
        <p>Click here to get started: </p>
        <button>
            <%= link_to "Take a Quiz", quizzes_path %> 
        </button
    </div>
</div>
