<div class="centered">
    <div class="main-title">
        <h1>Quizlet</h1>
        <h2>A Place for Quizzes</h2>
    </div>
    <br>
    <div class="main-body">
        <div class="home-page-buttons">
            <%= link_to "Take a Quiz", quizzes_path, class: "button-link" %> 
            <%= link_to "Make a Quiz", new_quiz_path, class: "button-link" %>
        </div>
        <br>
        <div>
            Not sure where to start?  Access random quiz:
            <%= link_to "Random Quiz", quizzes_random_path %>
        </div>
    </div>
  

   
</div>
