/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.entire-yield {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; */
  /* border: 1px solid black; */
}

.center-section {
}
.main-title {
}

body {
  font-family: Arial;
  color: black;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
  color: white;
}

.right {
  right: 0;
  background-color: white;
  color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.left-text {
  text-align: left;
}

input[type="text"] {
  width: 95%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.2s ease-in-out;
}

input[type="text"]:focus {
  width: 100%;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #111;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

a.button-link {
  background-color: #111;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.white-submit-button input[type="submit"] {
  background-color: white;
  color: #111;
  font-size: 16px;
}
/* 
.vert-split {
  height: 50%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.top {
  top: 0;
  background-color: #111;
  color: white;
}

.bottom {
  bottom: 0;
  background-color: white;
  color: black;
} */
